@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<TPD.DTO.Events.SpeakerPreviewDTO>

<div class="grid">
    <div class="col-md-3 col-sm-6">
        <h2>Coming soon</h2>
        <ul class="event-list">
            @foreach (KeyValuePair<TPD.DTO.Events.ProgrammComingSoonDTO, int> item in ViewBag.ComingSoonProgramms)
            {
                <li>
                    <time>
                        <span class="day">@item.Key.Day</span>
                        <span class="month">@item.Key.Month</span>
                        <span class="year">@item.Key.Date.Year</span>
                        <span class="time">All Day</span>
                    </time>

                    <div class="info">
                        <h2 class="title">@item.Key.Title</h2>
                        <p class="desc">You can listen <a href="javascript:void(0);">@item.Value speakers</a></p>
                    </div>

                    <div class="social">
                        <ul>
                            <li class="facebook" style="width:33%;"><a href="javascript:void(0);"><span class="fa fa-facebook"></span></a></li>
                        </ul>
                    </div>
                </li>
            }
        </ul>
        <h2>Most rated developers</h2>
        <div class="container">
            <div class="row">
                @foreach (var item in ViewBag.TopSpeakers)
                {
                    <div class="col-md-6 col-sm-6">
                        <div class="card hovercard">
                            <img class="cardheader" alt="user blured photo" src="@item.ImageUrl" />
                            <div class="avatar">
                                <img alt="user photo" src="@item.ImageUrl">
                            </div>
                            <div class="info">
                                <div class="title">
                                    <a>@item.Lastname @item.Firstname</a>
                                </div>
                                <div class="desc">@item.Position</div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        @*@Html.Action("ComingSoon", new { useAsync = ViewBag.UseAsync })
        @Html.Action("TopSpeakers", new { useAsync = ViewBag.UseAsync })*@
    </div>
    <div class="col-md-9 col-sm-6">
        <h2>All speakers</h2>
        <div class="row">
            @foreach (var speaker in Model)
            {
                <div class="col-md-4 col-sm-12">
                    <div class="media">
                        <a class="pull-left" href="#">

                            <!-- BEGIN IMAGES LAZY LOADING -->
                            @*<img alt="user photo" class="media-object dp img-circle" src="/Content/Images/blank-user-200.jpg"
                                 data-src="@speaker.ImageUrl" width="100" height="100">*@
                            <!-- END IMAGES LAZY LOADING-->
                            <!-- BEGIN IMAGES DEFAULT LOADING -->
                            <img class="media-object dp img-circle" src="@speaker.ImageUrl" style="width: 100px;height:100px;">
                            <!-- END IMAGES DEFAULT LOADING -->

                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">
                                @speaker.Firstname @speaker.Lastname
                                <small>@speaker.LikesCount <i class="glyphicon glyphicon-heart"></i></small>
                            </h4>
                            <h5>
                                @speaker.Position participate in <a href="#">@speaker.ProgrammsCount programms</a>
                            </h5>
                            <hr style="margin:8px auto">
                            <span class="badge">@speaker.Email</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@section styles{
    @*<link href="~/Content/schedulecard.css" rel="stylesheet" />
    <link href="~/Content/generalspeaker.css" rel="stylesheet" />
    <link href="~/Content/topspeaker.css" rel="stylesheet" />*@
}

@section scripts{
@*    <script src="~/Scripts/lazyload.js"></script>*@
}
